.store-page{
    display:flex;
    gap:30px;
    padding:40px;
}

.store-sidebar{
    width:35%;
}

.store-sidebar h1{
    color:#111;
    font-size:50px;
    font-weight:700;
    margin-bottom:20px;
}

.store-sidebar p{
    color:#444;
    margin-bottom:30px;
}

.branch-list{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.branch-card{

    border:1px solid #ddd;

    padding:20px;

    cursor:pointer;

    transition:0.3s;

    background:white;
}

.branch-card:hover{
    border-color:black;
}

.branch-card.active{

    border:2px solid black;

    background:#f5f5f5;
}

.branch-card h3{
    color:#111;
}

.branch-card p{
    color:#555;
}

.store-map{
    flex:1;
}